#writing-content {
    position: relative;
    #editor {
        max-width: 779px;
        padding: 0 20px;
        margin: 0 auto;
    }
    #toolbar2, .open-toolbar-button, .close-toolbar-button {
        position: absolute;
        top: 0;
        z-index: 99;
        display: none;
    }
    .toolbar-button {
        background: white;
        border: none;
        width: 40px;
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    }
}